.shop{
    display: grid;
    grid-template-columns: auto 250px;
    margin: 1vw;
}
.single-product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
@media screen and (max-width: 992px) {
    .single-product {
        grid-template-columns: repeat(2, 1fr);
    }
  }
@media screen and (max-width: 600px) {
    .single-product {
        grid-template-columns: 1fr;
    }
  }